BasedOnStyle: webkit
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
AlignConsecutiveAssignments: true
TabWidth: 4
UseTab: ForIndentation
SortIncludes: false
