{
	BasedOnStyle: webkit,
	AlignConsecutiveAssignments: false,
	AlignConsecutiveDeclarations: false,
	AlignTrailingComments: true,
	AllowShortBlocksOnASingleLine: true,
	AllowShortFunctionsOnASingleLine: None,
	PointerAlignment: Right,
	TabWidth: 4,
	UseTab: ForIndentation,
	SortIncludes: false,
	FixNamespaceComments: true,
	NamespaceIndentation: None,
}
