##################################################################
# For more info on EditorConfig check out https://EditorConfig.org
##################################################################

root = true

# Code files
[*.{c,cc,cpp,h,hh,hpp, cs}]
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8
tab_width = 4

# C/C++ Standard requires an empty line at the end of header files
[*.{h,hh,hpp}]
insert_final_newline = true
