PROJECT_NAME           = "Devilution"
PROJECT_BRIEF          = "Diablo devolved - magic behind the 1996 computer game"
USE_MDFILE_AS_MAINPAGE = README.md
OUTPUT_DIRECTORY       = docs
INPUT                  = ./ ./Source ./docs
INPUT_ENCODING         = UTF-8
FILE_PATTERNS          = *.c \
                         *.cpp \
                         *.h \
                         *.inc \
                         *.md

GENERATE_LATEX         = NO
WARNINGS               = YES
SOURCE_BROWSER         = YES
EXTRACT_STATIC         = YES
JAVADOC_AUTOBRIEF      = YES
OPTIMIZE_OUTPUT_FOR_C  = YES
SEPARATE_MEMBER_PAGES  = YES
DOT_IMAGE_FORMAT       = svg
INTERACTIVE_SVG        = YES
HTML_COLORSTYLE_HUE    = 0
HTML_COLORSTYLE_SAT    = 125
HTML_COLORSTYLE_GAMMA  = 200

# Call graphces alows logical navigation of the docs
CALL_GRAPH             = YES
CALLER_GRAPH           = YES

# all.h includes everything and everything inclues it so the graph is usless past depth 1
MAX_DOT_GRAPH_DEPTH    = 1

# Not all files are documented yet
EXTRACT_ALL            = YES

