#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export COMPILE_FLAGS="-O0"

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=-all
export DEB_CFLAGS_MAINT_APPEND  = -Wno-error 
export DEB_LDFLAGS_MAINT_APPEND = -Wno-error
export CXXFLAGS="-DTTF_FONT_PATH=\"/usr/share/fonts/truetype/CharisSILB.ttf\""

%:
	dh $@ --buildsystem=cmake

#override_dh_auto_clean:
#	dh_auto_clean
#override_dh_auto_configure:
#	dh_auto_configure -O--buildsystem=cmake -- -DDESTDIR=/usr/games -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=None -DCMAKE_INSTALL_SYSCONFDIR=/etc -DCMAKE_INSTALL_LOCALSTATEDIR=/var

override_dh_auto_install:
	mkdir -p debian/diablo-data/usr/share/games/diablo/
	test -f "../diabdat.mpq" && cp ../diabdat.mpq debian/diablo-data/usr/share/games/diablo/ || true
	dh_auto_install
	mkdir -p debian/devilutionx/usr/share/icons/hicolor/16x16/apps/
	mkdir -p debian/devilutionx/usr/share/icons/hicolor/32x32/apps/
	mkdir -p debian/devilutionx/usr/share/icons/hicolor/48x48/apps/
	cp Packaging/resources/16.png debian/devilutionx/usr/share/icons/hicolor/16x16/apps/devilutionx.png 
	cp Packaging/resources/Diablo_32.png debian/devilutionx/usr/share/icons/hicolor/32x32/apps/devilutionx.png 
	cp Packaging/resources/Diablo_48.png debian/devilutionx/usr/share/icons/hicolor/48x48/apps/devilutionx.png 
