[Desktop Entry]
Name=DevilutionX
Comment=Diablo 1 for RetroFW
Exec=devilutionx
Terminal=false
Type=Application
StartupNotify=true
Icon=Diablo_32
Categories=games;
X-OD-Manual=readme.retrofw.txt
X-OD-NeedsDownscaling=true
X-OD-NeedsJoystick=true
