[Desktop Entry]
Name=DevilutionX
Comment=A port of DevilutionX for RG350.
Exec=devilutionx
Terminal=false
Type=Application
StartupNotify=true
Icon=Diablo_32
Categories=games;
X-OD-Manual=readme.gcw0.txt
X-OD-NeedsDownscaling=true
X-OD-NeedsJoystick=true
