[Desktop Entry]
Name=devilutionX
GenericName=DevilutionX
Comment=Play Diablo I on Linux
Exec=devilutionx
Icon=/usr/share/pixmaps/devilutionx.ico
Terminal=false
Type=Application
X-DCOP-ServiceType=Multi
X-KDE-StartupNotify=true
Categories=Qt;Game;RolePlaying;
